@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px 15px; 
}

header .navbar a:hover {
    color: #3867d6; 
}

header .logo {
    color: white; 
    font-size: 24px; 
    text-decoration: none; 
    font-weight: bold; 
}

header .logo span {
    color: #3867d6; 
}

header .logo:hover {
    color: #3867d6; 
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
}

.form-container {
    background: #333;
    padding: 3rem;
    border-radius: 1rem;
    width: 70%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.form-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #3867d6;
}

.form {
    display: flex;
    flex-direction: column;
}

/* Styling for input rows */
.input-row {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.input-group {
    flex: 1;
    margin-bottom: 1.5rem;
}

.input-group label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: block;
    color: white;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    background: #444;
    color: #fff;
}

.input-group input:focus,
.input-group textarea:focus {
    background: #555;
    outline: none;
}

textarea {
    resize: none;
}

.btn {
    padding: 1rem;
    background: #3867d6;
    color: #fff;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #2f55a4;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 05px;
}

.footer span {
    color: #3867d6;
}
