<?xml version="1.0" encoding="UTF-8"?>

<web-app	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
			http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
			version="3.1">
			
<!--mapping for admin login-->			
<servlet>
	<servlet-name> nethalLogin </servlet-name>
	<servlet-class> com.admin.AdminLoginServlet </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> nethalLogin </servlet-name> 
	<url-pattern> /log </url-pattern>
</servlet-mapping>

<!--mapping for data insert-->
<servlet>
	<servlet-name> nethalInsertDetails </servlet-name>
	<servlet-class> com.admin.InsertServlet </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> nethalInsertDetails </servlet-name> 
	<url-pattern> /insert </url-pattern>
</servlet-mapping>

<!--mapping for data update-->
<servlet>
	<servlet-name> nethalUpdateDetails </servlet-name>
	<servlet-class> com.admin.UpdateDetailsServlet </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> nethalUpdateDetails </servlet-name> 
	<url-pattern> /update </url-pattern>
</servlet-mapping>

<!--mapping for display event bookings-->			
 <servlet>
	<servlet-name> nethalBookings </servlet-name>
	<servlet-class> com.admin.BookingDetailsServlet </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> nethalBookings </servlet-name> 
	<url-pattern> /book </url-pattern>
</servlet-mapping>

<!--mapping for delete event bookings-->
<servlet>
	<servlet-name> nethalDeleteBooking </servlet-name>
	<servlet-class> com.admin.DeleteBookingsServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> nethalDeleteBooking </servlet-name> 
	<url-pattern> /delete </url-pattern>
</servlet-mapping>

<!--mapping for change password-->
<servlet>
	<servlet-name> nethalChangePassword </servlet-name>
	<servlet-class> com.admin.ChangePasswordServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> nethalChangePassword </servlet-name> 
	<url-pattern> /change </url-pattern>
</servlet-mapping>

<!--mapping for approve pending event bookings-->
<servlet>
	<servlet-name> nethalApproveBooking </servlet-name>
	<servlet-class> com.admin.ApproveEventBookingServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> nethalApproveBooking </servlet-name> 
	<url-pattern> /approve </url-pattern>
</servlet-mapping>

<!--mapping for deactivate user accounts-->
<servlet>
	<servlet-name> nethalDeleteUserAccount </servlet-name>
	<servlet-class> com.admin.DeleteUserAccountServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> nethalDeleteUserAccount </servlet-name> 
	<url-pattern> /deleteUser </url-pattern>
</servlet-mapping>

<!--mapping for delete events-->
<servlet>
	<servlet-name> nethalDeleteEvent </servlet-name>
	<servlet-class> com.admin.DeleteEventServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> nethalDeleteEvent </servlet-name> 
	<url-pattern> /eventDelete </url-pattern>
</servlet-mapping>

<!--mapping for contact us-->
<servlet>
	<servlet-name>contactUs</servlet-name>
	<servlet-class>com.admin.ContactUsServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>contactUs</servlet-name>
	<url-pattern>/contact</url-pattern>
</servlet-mapping>



<!-- Mappings for Ricky's part -->

<servlet>
	<servlet-name> rickyInsertEvent </servlet-name>
	<servlet-class> com.events.AddEventServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> rickyInsertEvent </servlet-name> 
	<url-pattern> /addEvent </url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name> rickyUpdateProfile </servlet-name>
	<servlet-class> com.events.UpdateProfileServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> rickyUpdateProfile </servlet-name> 
	<url-pattern> /rickyUpdate </url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name> rickyDeleteEvent </servlet-name>
	<servlet-class> com.events.RickyDeleteEventServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> rickyDeleteEvent </servlet-name> 
	<url-pattern> /rickyDelete </url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name> rickyChangePassword </servlet-name>
	<servlet-class> com.events.RickyChangePasswordServlet </servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name> rickyChangePassword </servlet-name> 
	<url-pattern> /rickyChange </url-pattern>
</servlet-mapping>

</web-app>